
body {
	padding-top: 50px
}

.link-title {
	width: 100%;
	font-size: 120%;
	font-weight: bold;
}
.link-added {
	font-style: italic;
}

.link-tag {
	margin-left: 5px;
}
.link-tag span:hover {
	background-color: blue;
}

